.container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    padding: 1.5em;
}

.joke--container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
}

hr {
    margin-top: 10px;
}